 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
 @import "../../bower_components/foundation/scss/foundation/components/grid";
// Custom Styles

 $header-color: hsla(349,55%,92%,1);
 $gold-font: hsla(34,61%,35%,1);
 $hover-blue: hsla(155,30%,80%,1);
 $bg-color:hsla(155,30%,80%,0.4);
 $block-grid-media-queries: true;


 body{
   background-color: $bg-color;
   font-family: 'Sail', cursive;

 }

 .container {
    clear: both;
   margin: 0 auto;
   font-family: 'Sail', cursive;


 }

 //Header Styles

 header {
   height: 80px;
   background-color: $header-color;
   border-bottom: 5px solid hsla(349, 55%, 92%, 0.4);

   .menu {
     margin-right: 4%;
     font-family: 'Sail', cursive;

   }

   span {
     float: right;
     margin-top: 20px;
     font-size: 1.4em;
     margin-left: 2%;
   }

   a {
     color: $gold-font;
     transition: 1s ease;

   }

   a:hover {
     color: $hover-blue;
     webkit-transform: scale(1.4);
     -ms-transform: scale(1.4);
     transform: scale(1.4);
     transition: 1s ease;
   }

   h1 {
     margin-left: 5%;
     font-family: 'Sail', cursive;
     color: $gold-font;
     float: left;

   }

   h1:hover {
     color: $hover-blue;
     transition: 0s ease;


   }
 }


 //home

.home {
  margin: 0 auto;


  h1{
    text-align: center;
    font-family: 'Sail', cursive;
    color: $gold-font;
    font-size: 50px;
  }

  .pearls1 {
    width: 200px;
    margin: 0 auto;
  }
  .pearls2 {
    width: 30px;
  }


  .skills{

    height: 200px;
    text-align: center;



    h2 {
       font-family: 'Sail', cursive;
       color: $gold-font;
       font-weight: 700;
      font-size: 1.5em;


    }

    .medium-4.columns.a{
      height: auto;

    }
    .medium-4.columns.b{
      height: auto;
    }
    .medium-4.columns.c{
      height: auto;
    }

  }

  simple-slider {
    margin: 0 auto;
  }
}


//about styles

 .about {
   margin: 0 auto;
   text-align: center;

   h1{
     text-align: center;
     font-family: 'Sail', cursive;
     color: $gold-font;
     font-weight: 700;
   }

   h4 {
     text-align: center;
     font-family: 'Sail', cursive;
     color: $gold-font;
     font-weight: 700;
     font-size: 1.2em;
   }

   img {
     width: 250px;
   }

   p {
     text-align: center;
     font-size: 1.2em;
     font-family: 'Sail', cursive;
     color: $gold-font;
     clear: both;
     background-color: hsla(157,30%,73%,0.2);
     border-radius: 20px;
     padding: 3%;
     width: 95%;
     margin: 0 auto;



   }

   .medium-4.columns.a {
     height: auto;


   }
   .medium-4.columns.b {
     height: auto;
     margin-bottom: 15px;
     border-radius: 15px;


     img {
       border: 7px solid transparent;

       -moz-border-image: -moz-linear-gradient(top left, hsla(350,56%,92%,1) 0%, #d38284 100%);
       -webkit-border-image: -webkit-linear-gradient(top left, hsla(350,56%,92%,1) 0%, #d38284 100%);
       border-image: linear-gradient(to bottom right, hsla(350,56%,92%,1) 0%, #d38284 100%);

       border-image-slice: 1;
     }
   }
   .medium-4.columns.c {
     height: auto;

   }

 }


//portfolio Styles
.portfolio {
  margin: 0 auto;
  text-align: center;

  h1 {
    text-align: center;
    font-family: 'Sail', cursive;
    color: $gold-font;
    font-weight: 700;
  }
  h2 {
    text-align: center;
    font-family: 'Sail', cursive;
    color: $gold-font;
    font-weight: 700;
    font-size: 1.5em;
  }

  img {
width: 150px;
  }


  .medium-4.columns.a {
     height: auto;

   }
  .medium-4.columns.b {
    height: auto;
  }
  .medium-4.columns.c {
    height: auto;
  }
  .medium-4.columns.d {
    height: auto;

  }
  .medium-4.columns.e {
    height: auto;
    margin-bottom: 10px;
  }
  .medium-4.columns.f {
    height: auto;
  }

}




// BLog STyles

 li {
   text-decoration: none;
   list-style-type: none;
   width: 90%;
   text-align: center;
   margin: 0 auto;



     a:hover {
       background-color: $gold-font;
     }




   h1 {
     text-align: center;
     font-family: 'Sail', cursive;
     color: $gold-font;
     font-weight: 700;

   }

   p{
     text-align: center;
     font-size: 1.2em;
     font-family: 'Sail', cursive;
     color: $gold-font;
   }

   h6 {
     font-family: 'Sail', cursive;
     color: $gold-font;

   }


 }


// Contact Styles

 .contact {

   h1{
     text-align: center;
     font-family: 'Sail', cursive;
     color: $gold-font;
     font-weight: 700;
   }



   .medium-6.columns.a {
     height: auto;

     iframe {
       float: left;
       margin-left: 15%;
       margin-bottom: 20px;
     }


   }
   .medium-6.columns.b {
     height: auto;
     text-align: center;

     .contactbox {
       background-color: hsla(157,30%,73%,0.2);
       width: 67%;
       margin: 0 auto;
       border-radius: 45px;
       //height: 232px;
       padding: 2%;
     }

     h4 {
       text-align: center;
       font-family: 'Sail', cursive;
       color: $gold-font;
       font-weight: 700;
       font-size: 1.3em;
     }
     h3 {
       text-align: center;
       font-family: 'Sail', cursive;
       color: $gold-font;
       font-weight: 700;
       font-size: 1.9em;
     }
     a {
       color: $gold-font
     }

     a:hover {
       color: $hover-blue
     }
   }
 }

 //footer styles

 footer{
   height: 50px;
   background-color: hsla(157,30%,73%,1);
   text-align: center;
   font-family: 'Sail', cursive;
   padding: 9px;
   clear: both;


   .contactinfo{
     float: left;
     margin-left: 21%;

     p {
       font-size: 1.2em;
       color: $gold-font;

     }

     a {
       color: $gold-font;
       &:hover{
         color: $header-color;
       }
     }


   }

   .socialimg {

     img{
       width: 2.2%;
       transition: 1s ease;
     }

     img:hover {
       webkit-transform: scale(1.2);
       -ms-transform: scale(1.2);
       transform: scale(1.2);
       transition: 1s ease;
     }

     }
   }

