<div class="container">

    <div class="about">
    <h1>About Me</h1>
        <hr/>

        <div class="medium-4 columns a">
            <br/>
        <h4> “To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.”
            <br/> ― Ralph Waldo Emerson
            <br/>
            <br/>
            "People ask me all the time: 'What is it like to be a woman at Google?' I'm not a woman at Google, I'm a geek at Google. And being a geek is just great.
            <br/> - Marissa Mayer
        </h4>
    </div>

        <div class="medium-4 columns b">

            <img src="images/headshot.jpg"/>
        </div>

        <div class="medium-4 columns c">

            <!--<h4> "Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking. Don't let the noise of others' opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition."-->
                <!--<br/> -Steve Jobs </h4>-->
            <h4>"When you start looking at a problem and it seems really simple,  you don’t really understand the complexity of the problem.  Then you get into the problem,  and you see that it’s really complicated,  and you come up with all these convoluted solutions.  That’s sort of the middle,  and that’s where most people stop… But the really great person will keep on going and find the key, the underlying principle of the problem — and come up with an elegant,  really beautiful solution that works."
                <br/> -Steve Jobs</h4>
        </div>

        <hr/>
        <p class="atabout">
            My fascination with iOS development started when I was working for Apple Inc. as a specialist. I wanted to know more about the applications that I was showing customers how to use; so I started watching tutorials on youtube on how to build simple applications. Fast forward almost two years later and I've worked with startups/agencies around the Atlanta area as a contracted iOS developer. Currently, I have a kick ass, full time dev position working for Possible Mobile. I think the best part of being a developer is always learning and obtaining knowledge from others that have done more. </p>

        <hr/>
        <h4>Download my Resume: <a href="">Ashby Thornwell</a></h4>

  </div>
</div>