
    
<ul class="blogpage">
        <li ng-repeat="b in blogs" id="{{ b.objectId }}">
            <a href="#/blogPost/{{ b.objectId }}">

                <br/>
                <h1> {{ b.title}}</h1>
                <br/>
                <img src="{{ b.photo.url }}"/>
                <br/>
                <h6>{{ b.createdAt |  date:"fullDate"}}</h6>
                <h5> Author: {{ b.author }}</h5>
                <hr/>
                <br/>
                <p> {{ b.contentfirst }}</p>
                <br/>
                <p class="readmore">Read More ...</p>
                <br/>
                <hr/>
                <hr/>
            </a>

        </li>


</ul>


<aside>
    <h1>
       ~ Twitter ~
    </h1>

    <a class="twitter-timeline" href="https://twitter.com/AshbyThornwell" data-widget-id="456537132748656640">Tweets by @AshbyThornwell</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</aside>


<script>


</script>
