<div class="container">
    <div class="contact">
     <h1>~ Contact ~</h1>
        <hr/>






        <div class="medium-6 columns b">
           <h3>~ Ashby Thornwell ~</h3>
            <hr/>

            <div class="contactbox">
            <h4><a href="mailto:ash.thornwell@gmail.com">Ash.Thornwell@gmail.com</a></h4>
            <h4>(404) 358-7738</h4>
            <h4>Twitter: <a href="https://twitter.com/AshbyThornwell">@AshbyThornwell</a></h4>
            <h4>Linkedin: <a href="https://www.linkedin.com/pub/ashby-thornwell/94/384/a61">Ashby Thornwell</a></h4>
            <h4>GitHub: <a href="https://github.com/athornwell">AThornwell</a></h4>
            </div>

        </div>
        <div class="medium-6 columns a">
            <iframe class="map" frameborder="0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=33.7490%2C-84.3880&key=AIzaSyBs-xsu6FvZnfg0fm-vCMnYkMuIBR6qGjQ"></iframe>

        </div>

    </div>
    </div>
