<div class="container">

<div class="home">
    <img src="images/AshHeader.png" alt=""/>

    <br/>

    <h1>
   Skills
    </h1>

    <div class="skills">
        <div class="medium-4 columns a">
            <h2>App Development</h2>
            <img src="images/mobilepink.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in ipsum in risus ultrices pellentesque. Vestibulum accumsan turpis nec purus laoreet posuere. Nam fringilla massa condimentum ipsum consequat, at iaculis neque pharetra. Ut vulputate ut ligula id viverra. </p>

        </div>
        <div class="medium-4 columns b">
            <h2>Mobile UI / UX</h2>
            <img src="images/mobiledesignpink.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in ipsum in risus ultrices pellentesque. Vestibulum accumsan turpis nec purus laoreet posuere. Nam fringilla massa condimentum ipsum consequat, at iaculis neque pharetra. Ut vulputate ut ligula id viverra. </p>
        </div>
        <div class="medium-4 columns c">
            <h2>Content Creator</h2>
            <img src="images/contentpink.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in ipsum in risus ultrices pellentesque. Vestibulum accumsan turpis nec purus laoreet posuere. Nam fringilla massa condimentum ipsum consequat, at iaculis neque pharetra. Ut vulputate ut ligula id viverra. </p>
        </div>

    </div>




    <h1>Projects I have worked on!</h1>


    <simple-slider style="width:450px; height:450px" transition-property="top" start-value="-612px" visible-value="0px" end-value="0" >
        <img src="http://placekitten.com/g/612/612"/>
        <img src="http://distilleryimage5.s3.amazonaws.com/de66967ac72111e2a23222000aaa0537_7.jpg"/>
        <img src="http://distilleryimage8.s3.amazonaws.com/a042749ac72111e28c3c22000a1fb85a_7.jpg"/>
        <img src="http://distilleryimage4.s3.amazonaws.com/8d32600ec72111e29f1422000a1fbc0e_7.jpg"/>
    </simple-slider>




    use slider
</div>
</div>



