<div class="container">

<div class="home">
    <img src="images/AshHeader.png" alt=""/>

    <br/>

    <h1>
   ~ Skills ~
    </h1>

    <hr/>

    <div class="skills">
        <div class="medium-4 columns a">
            <h2>App Development</h2>
            <img src="images/mobilepink.png"/>
            <p>I currently work for an amazing app development company as an iOS engineer while pursuing freelance on the side. Objective-C is the primary language I use currently, but soon I will be developing in Swift as well.</p>

        </div>
        <div class="medium-4 columns b">
            <h2>Mobile UI / UX</h2>
            <img src="images/mobiledesignpink.png"/>
            <p>Not only do I enjoy writing functionality for iOS applications, I also love the process for the creation of user experience. Knowing how the functionality works is my greatest strength for understanding what is possible when designing mobile applications. </p>
        </div>
        <div class="medium-4 columns c">
            <h2>Content Creator</h2>
            <img src="images/contentpink.png"/>
            <p>Words are often overlooked but are essential for every digital product. Story telling is how we connect with the brands we love. Feel free to checkout out my love of story telling on thornwellmc.com, mikezevitas.com, and of course, my blog.  </p>
        </div>

    </div>
    <hr/>

    <h1>~ Projects I have worked on ~</h1>

    <hr/>

<div class="sliders">
    <img class="iphone" src="images/iphone-4-640x960.png" alt=""/>
    <div class="picslide">
    <simple-slider class="fullscreen" style="width:268px; height: 480px" transition-property="top" start-value="-612px" visible-value="0px" end-value="0" >
        <a href="#/portfolio"><img src="images/bbq4uslide.png"/></a>
        <a href="#/portfolio"> <img src="images/pullpick.PNG"/></a>
        <a href="#/portfolio"> <img src="images/map.png"/></a>
        <a href="#/portfolio"> <img src="images/redcode.png"/></a>
        <a href="#/portfolio"> <img src="images/Fit.PNG"/></a>
        <a href="#/portfolio"> <img src="images/IMG_1093.PNG"/></a>
        <a href="#/portfolio"> <img src="images/IMG_1094.PNG"/></a>
        <a href="#/portfolio"> <img src="images/IMG_1095.PNG"/></a>


    </simple-slider>

    </div>
</div>
    <hr/>
    <br/>
</div>
</div>



