<div class="container">

    <div class="portfolio">

    <h1>Portfolio</h1>
        <hr/>

    <div class="medium-4 columns a">

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <p>  Tech Stack or feature worked on</p>
                    <a href="#"> Itunes or Github Link</a>
                </div>
            </div>
        </div>



    </div>


    <div class="medium-4 columns b">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <p>  Tech Stack or feature worked on</p>
                    <a href="#"> Itunes or Github Link</a>
                </div>
            </div>

    </div>
        </div>


    <div class="medium-4 columns c">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <p>  Tech Stack or feature worked on</p>
                    <a href="#"> Itunes or Github Link</a>
                </div>
            </div>
    </div>
</div>


    <div class="medium-4 columns d">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <p>  Tech Stack or feature worked on</p>
                    <a href="#"> Itunes or Github Link</a>
                </div>
            </div>
    </div>
</div>

    <div class="medium-4 columns e">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <p>  Tech Stack or feature worked on</p>
                    <a href="#"> Itunes or Github Link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="medium-4 columns f">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <p>  Tech Stack or feature worked on</p>
                    <a href="#"> Itunes or Github Link</a>
                </div>
            </div>
    </div>
        </div>



        <hr/>

        <h2>More at my <a href="https://github.com/athornwell">GitHub</a> </h2>
    </div>

</div>