<div class="container">

    <div class="portfolio">

    <h1>Portfolio</h1>
        <hr/>

    <div class="medium-4 columns a">
        <a href="">
        <h2>Fit Radio</h2>
        <img src="images/mobilepink.png"/>
        </a>

    </div>
    <div class="medium-4 columns b">
        <a href="">
            <h2>Immortallia</h2>
            <img src="images/mobilepink.png"/>
        </a>

    </div>
    <div class="medium-4 columns c">
        <a href="">
            <h2>BBQ 4U</h2>
            <img src="images/mobilepink.png"/>
        </a>

    </div>
    <div class="medium-4 columns d">
        <a href="">
            <h2>MealTime Memories </h2>
            <img src="images/mobilepink.png"/>
        </a>

    </div>
    <div class="medium-4 columns e">
        <a href="">
            <h2>Draw Me</h2>
            <img src="images/mobilepink.png"/>
        </a>

    </div>
    <div class="medium-4 columns f">
        <a href="">
            <h2>BrickBreaker</h2>
            <img src="images/mobilepink.png"/>
        </a>


    </div>

        <hr/>

        <h2>More at my <a href="https://github.com/athornwell">GitHub</a> </h2>
    </div>

</div>