<div class="container">

    <div class="portfolio">

    <h1>Portfolio</h1>
        <hr/>

    <div class="medium-4 columns a">

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Fit Radio</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Fit Radio</h2>
                    <hr/>
                    <p>  Technology Used: Objective C, Health Kit, Parse, Integration with existing code.
                    </p>
                    <br/>
                    <a href="https://itunes.apple.com/us/app/fit-radio-workout-music/id440844625?mt=8
"> The App on iTunes</a>
                </div>
            </div>
        </div>



    </div>


    <div class="medium-4 columns b">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Immortalia</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Immortalia</h2>
                    <hr/>
                    <p>  Technology Used: Objective C, login with JSON endpoints, custom video player, SQLite
                    </p>
                    <br/>
                    <a href="https://itunes.apple.com/us/app/immortalia-share-your-story/id953959217?mt=8
"> The App on iTunes</a>
                </div>
            </div>

    </div>
        </div>


    <div class="medium-4 columns c">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>BBQ4U</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>BBQ4U</h2>
                    <hr/>
                    <p> Technology Used: Objective C, web views, core data,
                    </p>
                    <br/>
                    <a href="https://github.com/athornwell/IOS-Class/tree/master/BBQ%20App%20Final%20Project
"> The App on iTunes</a>
                </div>
            </div>
    </div>
</div>


    <div class="medium-4 columns d">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Mealtime Memories</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Mealtime Memories</h2>
                    <hr/>
                    <p>  Technology Used: Objective C, core data, search functionality
                    </p>
                    <br/>
                    <a href="https://github.com/athornwell/Mealtime-Memories
"> View My Code on Github</a>
                </div>
            </div>
    </div>
</div>

    <div class="medium-4 columns e">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Draw Me!</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Draw Me!</h2>
                    <hr/>
                    <p>  TTechnology Used: Objective C, CGContextRef, UISlider, UITouches
                    </p>
                    <br/>
                    <a href="https://github.com/athornwell/IOS-Class/tree/master/DrawLinesApp
"> View My Code on Github</a>
                </div>
            </div>
        </div>
    </div>

    <div class="medium-4 columns f">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h2>Brick Breaker</h2>
                    <img src="images/mobilepink.png"/>
                </div>

                <div class="back">
                    <h2>Brick Breaker</h2>
                    <hr/>
                    <p> Technology Used: Objective C, singleton pattern for storing points, UICollisionBehaviorMode
                    </p>
                    <br/>
                    <a href="https://github.com/athornwell/IOS-Class/tree/master/BrickBreaker
">View My Code on Github</a>
                </div>
            </div>
    </div>
        </div>



        <hr/>

        <h2>More at my <a href="https://github.com/athornwell">GitHub</a> </h2>
    </div>

</div>