
<ul class="singlepage">
    <li>
        <br/>
        <h1> {{ b.title}}</h1>
        <br/>
        <img src="{{ b.photo.url }}"/>

        <br/>
        <h6>{{ b.createdAt |  date:"fullDate"}}</h6>
        <h5> Author: {{ b.author }}</h5>
        <hr/>
        <br/>
        <p> {{ b.contentfirst }}</p>
        <br/>
        <p> {{ b.contenta }}</p>
        <br/>
        <p> {{ b.contentb }}</p>
        <br/>
        <p> {{ b.contentc }}</p>
        <br/>
        <p> {{ b.contentd }}</p>
        <br/>
        <p> {{ b.contente }}</p>
        <br/>
        <p> {{ b.contentlast }} <span><a href="{{ b.links }}"> {{ b.watch }}</a></span></p>
        <br/>
        <p>Sincerely,
            <br/>
            A girl who just wants to code cute things</p>

    </li>
    </ul>

