<footer>


<!--contact info-->
    <div class="contactinfo">

    <p class="atp">Ashbys Thornwell: <a href="mailto:ash.thornwell@gmail.com">ash.thornwell@gmail.com </a> 404.358.7738</p>
</div>


    <div class="socialimg">
    <a href="https://twitter.com/AshbyThornwell"><img src="images/icon-bw-twitter.png"/></a>
    <a href="https://www.linkedin.com/pub/ashby-thornwell/94/384/a61"><img src="images/linkedin-4-512.png"/></a>
    <a href="https://github.com/athornwell"><img src="images/git.png"/></a>
    </div>

</footer>