<header>

    <a href="#/"><h1>
        ~ Ashby Thornwell ~</h1></a>



    <div class="menu">

    <span><a href="#/contact">Contact</a></span>
    <span><a href="#/blog">Blog</a></span>
    <span><a href="#/portfolio">Portfolio</a></span>
    <span><a href="#/about">About</a></span>
    <span><a href="#/">Home</a></span>

    </div>



    <nav>
        <span class="nav-btn"><img class="btn-img" src="images/goldmenu.png"/></span>
        <ul class="nav">
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/blog">Blog</a></li>
            <li><a href="#/portfolio">Portfolio</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/">Home</a></li>
        </ul>

    </nav>



    <script>

        $('.nav-btn').click(function (){
            $('.nav').slideToggle();
        });

        $('.nav').removeAttr('style');

        $(".nav li").on("click",function(){
            $('.nav').slideUp();
        });




    </script>

</header>